* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

body {
    height: 100vh;
}

.nav-app {
    width: 20px;
    height: 20px;
    margin-left: 1.3em;
}

.nav-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 0.6em;
}

.nav {
    padding: 1.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav a {
    margin-left: 1.4em;
    text-decoration: none;
    color: black;
}


body a:hover {
    text-decoration: underline;
}

.content {
    width: 100%;
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 7em;
}

.language {
    margin: 2em 0;
}

.language span {
    margin-left: 0.8em;
}

.language a {
    text-decoration: none;
    color: blue;
}

.buttons {
    margin-top: 2em;
}

.buttons button {
    padding: 9px 17px;
    border: none;
    border-radius: 4px;
    margin-left: 1px;
    font-size: 1.1rem;
    background-color: #80808008;
    border: 1px solid white;
    cursor: pointer;
}

.buttons button:hover {
    border: 1px solid #d3d3d3;
}

.form {
    width: 570px;
    margin-top: 2em;
}

.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 3.5em;
    border-radius: 50px;
    border:solid 1px #ccc;
}


.form-input input:hover,
.form-input input:focus {
    outline:none;
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.text-icon {
    position: absolute;
}

.search-icon {
    margin-top: 1.15em;
    margin-left: 1.3em;
    width: 15px;
    height: 15px;
}

.mic-icon {
    width: 12px;
    height: 18px;
    margin-left: -2.7em;
    margin-top: 1em;
}

.footer {
    margin-top: 1.9em;
    color:rgb(128,128,128);
}

.country {
    background-color: rgb(128,128,128, 0.1);
    padding: 1.2em;
    border-bottom: 1px solid rgb(128,128,128, 0.3);
}

.country p {
    position: flex;
    justify-content: center;
    font-size: 1.1em;
    margin-left: 0.5em;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128,128,128, 0.1);
}

.footer-items {
    padding: 1.3em 0;
}

.footer-items a {
    text-decoration: none;
    color:rgb(128,128,128);
    font-size: 1.1em;
    margin-left: 2em;
}

.footer-right {
    margin-right: 2.5em;
}

@media (max-width: 1000px) {
    .footer-content {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 600px) {
    .form {
    width: 90%;
}

@media (max-width: 680px) {
    .footer-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 1.1em;
        text-align: center;
        margin-left:  -1em;
    }
    .footer-right {
        margin-right: 1em;
    }
}